* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: #ffffff;
    color: #fff;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
nav ul {
    display: flex;
    /*justify-content: flex-end;*/
    align-items: center;
    margin: 0;
    padding: 0;
    margin-left: 60%;
}
nav ul li {
    list-style: none;
    margin: 0 10px;
}
nav ul li a {
    justify-content:space-between;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    position: relative;
    transition: color 0.3s ease;
}
nav ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}
nav ul li a:hover {
    color: blueviolet;
}
nav ul li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}


header>h1{
    display: flex;
    flex-wrap: wrap;
    font-family: Alaska;
    color: blueviolet;
    font-size: 25px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.home-page {
    background-color: white;
    padding: 100px 0;
}
.home-page img{
    position: absolute;
    top: 20%;
    left:55%;
    width: 40%;
    z-index: 0;

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.heder-text {
    max-width: 700px;
}

.heder-text h1 {
    font-size: 50px;
    margin: 0;
    font-weight: 600;
    color: #333;
}

.heder-text h1 span {
    color: blueviolet;
}

.heder-text h2 {
    font-size: 28px;
    margin: 20px 0 40px;
    color: #333333;
}




.home-page button {
    padding: 12px 30px;
    border: none;
    background-color: blueviolet;
    color: #fff;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
}

.home-page button:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #2e2b34;
}
.home-page aside {
    position: absolute;
    top: 30%;
    left:72%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 50px;
    background-color: #fff;
    z-index: 1;
}

.home-page aside img {
    /*max-width: 600px;*/
    /*width: 100%;*/
    /*height: auto;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
    transition: all 0.9s ease-in-out;

}
.home-page aside:hover img {
    transform: translateX(-10%);
}

.home-page aside:hover img:hover {
    transform: translateX(10%);
}



.about-page{
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #333333;
    margin-top: 110px;
}
.about-page aside{
    flex: 10px;
}
.about-page aside img{
    width: 300px;
    border-radius: 10px;
}





.about-page article{
    text-align: right;
    padding: 100px;
    margin-right: 0;
    margin-left: 300px;
    margin-top: -500px;
}
.about-page article h2{
    font-size: 40px;
    text-align: left;
    color: aliceblue;

}
.about-page article p{
    text-align: left;
    color: white;
    font-size: 20px;
    font-family: Arial;
}


