* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: #ffffff;
    color: #fff;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

header nav ul {
    display: flex;
    /*justify-content: flex-end;*/
    align-items: center;
    margin: 0;
    padding: 0;
    margin-left: 60%;
}

header nav ul li {
    list-style: none;
    margin: 0 10px;
}

header nav ul li a {
    justify-content: space-between;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    position: relative;
    transition: color 0.3s ease;
}

header nav ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

header nav ul li a:hover {
    color: blueviolet;
}

header nav ul li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}


header > h1 {
    display: flex;
    flex-wrap: wrap;
    font-family: Alaska;
    color: blueviolet;
    font-size: 25px;
    position: absolute;
    top: -5px;
    left: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.home-page {
    background-color: white;
    padding: 100px 0;
}

.home-page img {
    position: absolute;
    top: 20%;
    left: 55%;
    width: 40%;
    z-index: 0;

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.heder-text {
    max-width: 700px;
    position: absolute;
    top: 35%;
}

.heder-text h1 {
    font-size: 50px;
    margin: 0;
    font-weight: 600;
    color: #333;
}

.heder-text h1 span {
    color: blueviolet;
}

.heder-text h2 {
    font-size: 28px;
    margin: 20px 0 40px;
    color: #333333;
}


.home-page button {
    padding: 12px 30px;
    border: none;
    background-color: blueviolet;
    color: #fff;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
}

.home-page button:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #2e2b34;
}

.home-page aside {
    position: absolute;
    top: 20%;
    left: 72%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 50px;
    background-color: #fff;
    z-index: 1;
}

.home-page aside img {
    /*max-width: 600px;*/
    /*width: 100%;*/
    /*height: auto;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: auto;
    z-index: 0;
    transition: all 0.9s ease-in-out;

}

.home-page aside:hover img {
    transform: translateX(-10%);
}

.home-page aside:hover img:hover {
    transform: translateX(10%);
}

/*---------------------------about ----------------------------------------------*/

#about {
    background-color: #ffffff;
    padding: 60px;
    position: absolute;
    top: 100vh;
    /*border: 1px solid black;*/
    box-shadow: 0 0 20px rgba(28, 28, 28, 0.14);
}

/* Styling for about page content */
.about-page {
    color: #1c1c1c;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
}

.about-page aside {
    top: 10px;
    left: 10px;
    width: 400px;
    height: auto;
    margin-right: 50px;
    animation-name: slideInLeft;
    animation-duration: 1s;
}
.about-page aside img{
    box-shadow: 0 0 20px rgb(28, 28, 28);
    border-radius: 3%;
}

.about-page article {
    padding-top: 0px;
    margin-top: -185px;
    animation-name: slideInRight;
    animation-duration: 1s;
}

.about-page h2 {
    font-size: 36px;
    margin-bottom: 20px;
    animation-name: fadeIn;
    animation-duration: 2s;
}

.about-page p {
    color:#585858;
    font-size: 18px;
    line-height: 1.5;
    animation-name: fadeIn;
    animation-duration: 2s;
}

/* Animations */
@keyframes slideInLeft {
    from {
        transform: translateX(-10%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(10%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

